.general {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.inputs {
    display: flex;
    gap: 50px;
}

.box {
display: flex;
flex-direction: column;
margin-top: 30px;
gap: 20px;
  &_characters {
    border: 1px solid black;
    border-radius: 5px;
    max-width: 800px;
  }

}

.character {
    color:green;
}
